@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Playpen+Sans&display=swap');

.layout
{
    margin: 0;
}

.content
{
    text-align: justify;
    min-height: 750px;
    padding: 10px;    

    /* font-family: 'Ephesis', cursive;
    font-size: 16px;     */
}

.content_bg
{
    background-color: #e3e3e3;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: skyblue;
    color: #FFFFFF;

    font-family: 'Playpen Sans', cursive;
    font-size: 14px;
}